section {
    display: flex;
    align-items: flex-start; 
}
.navigation {
    float: right;
    margin-left: 5rem;
    margin-top: 2rem;
}
.navigation-div {
    position: absolute;
    right: 10px;
}
.links {
    margin-left: 1rem;
    margin-right: 1rem; 
    text-decoration: none;
    color: black;
}
.links:hover {
    opacity: 30%;
}
.logo {
}
.text-logo {
    margin-left: 1rem;
}
.top-line, .bottom-line {
    color: black;
    border: none;
    border-top: 3px solid black; /* change this value to set the thickness */
}
.vertical-line {
    float: left;
    left: 1.7rem;
    top: 2.5rem;
    margin-right: 1rem;
    width: 50%;
    rotate: 90deg;
    border: none;
    border-top: 3px solid black; /* change this value to set the thickness */
}