.login-wrapper{
  display: flex;
 height: 100%;
}
.container{
  height: 100vh;
}
.sign-up{
display: flex;
flex-direction: column;

}
.sign-in{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{

}
input{
  margin-bottom: 20px;
}